{% extends '_base.html' %}
{% load account %}
{% block title %}
    فراموشی رمز عبور
{% endblock %}
{% block body %}

    <h1>تغییر رمزعبور</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="mt-4">ما برای شما تا چند دقیقه آینده ایمیلی حاوی لینک تغییر رمزعبور ارسال خواهیم کرد. درصورتی که در پوشه inbox خود ایمیلی پیدا نکردید پوشه هرزنامه ایمیلتان را بررسی کنید. درصورتی که در هرزنامه هم ایمیلی نبود، چند دقیقه دیگر دوباره تلاش کنید</p>
{% endblock %}