{% extends '_base.html' %}
{% block title %}
فراموشی رمز عبور
{% endblock %}
{% block body %}
<h1>فراموشی رمزعبور</h1>
    <p>درصورتی که رمزعبور خودرا فراموش کرده اید ایمیل خود را وارد نمایید. برای شمای ایمیلی حاوی لینک تغییر رمزعبور ارسال خواهیم کرد.</p>
    <form method="POST" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
        <label for="id_email">آدرس ایمیل:</label>
        <input class="form-control my-2 border-2" placeholder="example@somwhere.com" type="email" name="email" autocomplete="email" required="" id="id_email">
        <button type="submit" class="btn btn-success">ارسال ایمیل</button>
    </form>
{% endblock %}