{% extends '_base.html' %}
{% load account %}
{% block title %}
    فراموشی رمز عبور
{% endblock %}
{% block body %}

    <h1>{% if token_fail %}توکن نامعتبر{% else %}تغییر رمزعبور{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="m-4">لینک تغییر رمزعبور نامعتبر است یا قبلا استفاده شده. میتوانید دوباره درخواست لینک تغییر رمزعبور دهید.</p>
        <a href="{{ passwd_reset_url }}" class="btn btn-success">درخواست دوباره لینک</a>
    {% else %}
        <form method="POST" action="{{ action_url }}" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="mt-2 btn btn-success" name="action" value="تغییر رمزعبور"/>
        </form>
    {% endif %}

{% endblock %}