{% extends "_base.html" %}
{% load static %}
{% load socialaccount %}
{% block title %}ثبت نام{% endblock %}
{% block custom_header %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block body %}
    {#    <div class="d-flex justify-content-center mt-3" dir="rtl">#}
    {#        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-xs-6 bg-white m-3 m-sm-5 border rounded px-4 pt-4 pb-3 shadow">#}
    <form method="post">
        {% csrf_token %}
        <h1 class="text-center">ثبت نام</h1>
        {% if form.non_field_errors %}
            <ul class="list-group mt-2 mb-2">
                {% for error in form.non_field_errors.items %}
                    <li class="list-group-item list-group-item-danger">
                        <i class="fa-solid fa-circle-exclamation me-2"></i>{{ error }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}


        <div class="form-group">
            <label for="id_email" class="m-2">ایمیل:</label>
            <input class="form-control" type="email" name="email" placeholder="example@gmail.com"
                   autocomplete="email" required="" id="id_email"
                   {% if form.is_bound %}value={{ form.email.value }} {% endif %}>
        </div>
        {% if form.email.errors %}
            <ul class="list-group mt-2 mb-2">
                {% for error in form.email.errors %}
                    <li class="list-group-item list-group-item-danger">
                        <i class="fa-solid fa-circle-exclamation me-2"></i>{{ error }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}




        <div class="form-group">
            <label for="id_username" class="m-2">نام کاربری:</label>
            <input class="form-control" type="text" name="username" placeholder="" autocomplete="username"
                   minlength="1" maxlength="150" required="" id="id_username"
                   {% if form.is_bound %}value={{ form.username.value }} {% endif %}>
        </div>
        {% if form.username.errors %}
            <ul class="list-group mt-2 mb-2">
                {% for error in form.username.errors %}
                    <li class="list-group-item list-group-item-danger">
                        <i class="fa-solid fa-circle-exclamation me-2"></i>{{ error }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}


        <div class="form-group">
            <label for="id_password1" class="m-2">رمز عبور:</label>
            <input class="form-control" type="password" name="password1" placeholder=""
                   autocomplete="new-password" required="" id="id_password1"
                   {% if form.is_bound %}value={{ form.password1.value }} {% endif %}>
        </div>
        {% if form.password1.errors %}
            <ul class="list-group mt-2 mb-2">
                {% for error in form.password1.errors %}
                    <li class="list-group-item list-group-item-danger">
                        <i class="fa-solid fa-circle-exclamation me-2"></i>{{ error }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}



        <div class="form-group">
            <label for="id_password" class="m-2">تکرار رمز عبور:</label>
            <input class="form-control" type="password" name="password2" placeholder=""
                   autocomplete="new-password" required="" id="id_password2">
        </div>
        {% if form.password2.errors %}
            <ul class="list-group mt-2 mb-2">
                {% for error in form.password2.errors %}
                    <li class="list-group-item list-group-item-danger">
                        <i class="fa-solid fa-circle-exclamation me-2"></i>{{ error }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}



        <button type="submit" class="btn btn-success mt-3 w-100">ثبت نام</button>
    </form>
    <div class="line-with-middle-sep">
                  <span>
                    یا
                  </span>
    </div>
    <a href="{% url 'account_login' %}" class="btn btn-primary mt-2 mb-3 w-100">ورود</a>
    <form action="{% provider_login_url 'google' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-dark mt-2 mb-3 w-100">
            ورود یا ثبت نام با گوگل
        </button>
    </form>

{% endblock %}